.minify.icon{
  color: #000;
  position: absolute;
  margin-top: 2px;
  margin-left: 3px;
  width: 120px;
  height: 120px;
  border: solid 1px currentColor;
  border-radius: 100%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);

}
.minify.icon:before {
  content:"";
  position:absolute;
  top: 120px;
  left: 50px;
  height: 60px;
  width: 10px;
  background-color: currentColor;
}
.minify.icon i{
  position:absolute;
  left: 40px;
  top: 40px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.minify.icon i:before{
  content:"";
  position: absolute;
  width: 60px;
  height: 10px;
  background-color: currentColor;  
}